.profile__avatar-button {
    width: 120px;
    height: 120px;
    background-color: transparent;
    padding: 0;
    border: none;
    margin-left: 22.5px;
    position: relative;
    z-index: 5;
    cursor: pointer;
    opacity: 1;
    transition: opacity .4s ease;
    background-image: url(../../../images/Edit_icon.svg);
    background-repeat: no-repeat;
    background-size: 26px 26px;
    background-position: center;
}

.profile__avatar-button:hover {
    opacity: 30%;
}