.profile__avatar {
  width: 168.75px;
  height: 127.5px;
  margin-left: -22.5px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .profile__avatar {
    margin: 0 53.75px 22px 59.5px;
  }
}