.close-icon {
    width: 32px;
    height: 32px;
    position: absolute;
    top: -32px;
    right: -32px;
    background-image: url(../../images/Close_icon.svg);
    object-fit: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    box-sizing: content-box;
}

.close-icon:hover {
    opacity: 60%;
}

@media screen and (max-width: 767px) {
    .close-icon {
        width: 22px;
        height: 22px;
        top: -27px;
        right: -0px;
        background-size: 22px 22px;
    }
}